* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(images/bcg.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 40%);
}

.cart {
    cursor: pointer;
    width: 40px;
    float: right;
    color: whitesmoke;
}

nav {
    float: left;
    margin-right: 20px;
}

nav ul li {
    margin: 0 20px;
    display: inline-block;
    list-style: none;
    line-height: 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 120%;
    padding: 6px 13px;
    transition: .4s;
}

.navbar ul li a:hover {
    background: rgb(212, 37, 7);
    border-radius: 2px;
}

.content {
    width: 550px;
    margin-top: 80px;
    box-sizing: border-box;
    margin-right: 50px;
    font-size: 20px;
    color: rgb(247, 244, 244);
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    position: left;
    border: radius 4px;
    background: rgba(0, 0, 0, 40%);
}

.arrows {
    margin-top: 40px;
    display: flex;
}

.arrows img {
    width: 40px;
    margin-right: 25px;
}

.cover {
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 150px;
}

.about {
    margin-top: 50px;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: 100px;
    color: rgb(184, 2, 2);
    letter-spacing: 1px;
}

.article p {
    margin-top: 15px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    padding-bottom: 50px;
}

.collections {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(135deg, rgb(255, 168, 168) 10%, rgb(252, 255, 0) 100%);
}

h2 {
    text-align: center;
    padding-top: 60px;
    font-size: 35px;
    font-style: italic;
    color: rgb(128, 3, 28);
}

.grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
    width: 90%;
    padding-top: 40px;
}

.gallery {
    margin: 0 auto;
}

.pic {
    height: auto;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

.desc {
    padding: 15px;
    text-align: center;
}

.categories {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    padding-top: 60px;
    font-size: 35px;
    font-style: italic;
    color: rgb(128, 3, 28);
}

.imgbox {
    margin: 0 35%;
    width: 20%;
    padding: 20px 0
}

.material {
    background-color: rgba(100, 148, 237, 0.089);
    padding-bottom: 10px;
}

.material p {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    line-height: 1;
}

.material p em {
    color: rgb(187, 8, 8);
}